files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02_make_build_secrets.sh":
    mode: "000755"
    owner: root
    group: root
    content: |

      #!/usr/bin/env bash

      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      NPM_TOKEN=$(/opt/elasticbeanstalk/bin/get-config environment -k NPM_TOKEN)
      
      echo "export NPM_TOKEN=${NPM_TOKEN}" >> ${EB_APP_DEPLOY_DIR}/.build.npm-token.env
