commands:
  01_create_healthd_dir:
    command: "mkdir -p /var/log/nginx/healthd && chown nginx:nginx /var/log/nginx/healthd && mkdir -p /var/log/eb-docker/containers/nginx-proxy/healthd && chown nginx:nginx /var/log/eb-docker/containers/nginx-proxy/healthd"

files:
  "/etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf":
    mode: "000755"
    owner: root
    group: root
    content: |

      #!/bin/sh

      find /var/log/eb-docker/containers/nginx-proxy/healthd -type f | grep -v application.log.`date -u +"%Y-%m-%d-%H"` | xargs rm -f